@charset "utf-8";
/* LFT-Project Layout CSS DOcument */
.site-wrapper{
	width:1070px;
	margin:0 auto;
	}
.header-wrapper{
	float:left;
	}
.header-upper-container{
	width:1010px;
	float:left;
	padding: 30px 30px 0 30px;
	background:url(../images/header-upper-portion-background.png) left top repeat-x;
	}
.logo-container{
	float:left;
	margin-left:-3px;
	}
	.logo-container a{
		text-decoration:none;	
	}
	.logo-container img{
		float:left;	
	}
	.logo-container h1{
		float:left;
		padding: 30px 0 0 18px;
		color:#ffffff;
		font-size:30px;
		font-weight:500;	
	}
	.logo-container h1 span{
		display:block;
		font-size:12px;
		font-weight:200;
		padding-top:4px;
	}
.search-block{
	width:294px;
	height:25px;
	padding:13px 0;
	margin-top:52px;
	float:left;
	background-color:#a49191;
}
	.search-block form input{
		width:190px;
		padding:0 12px;
		margin-right:16px;
		height:25px;
		border:0px;
		line-height:25px;
		color:#a49191;
		font:16px;
		font-weight:600;
		font-family:Arial, Helvetica, sans-serif;
		float:left;
	}
	.search-block form button{
		height:51px;
		width:63px;
		border:0px;
		float:right;
		border-left:1px solid #594e4e;
		background:url(../images/search.png) top left no-repeat;
		margin:-13px 0 0 -1px;
	}
.slider{
	clear:both;
	height:179px;
	width:1010px;
	padding: 10px 30px 13px 30px;
	background-color:#a49191;
}
.main-container{
	clear:both;
	width:1010px;
	padding: 1px 30px 30px 30px;
}
.info-section{
	width:540px;
	height:188px;
	min-height:188px;
	padding:24px;
	height:auto !important;
}	
	.info-section h1{
		line-height:18px;
		font-size:18px;
		font-weight:500;
		text-transform:uppercase;
		color:#0d0d0d;
		font-family:Verdana, Geneva, sans-serif;
	}
	.info-section p{
		line-height:15px;
		font-size:13px;
		font-weight:500;
		margin: 10px 0 18px 0;
		color:#7f7f7f;
		font-family:Arial, Helvetica, sans-serif;
	}
	.info-section h2{
		height:23px;
		min-height:23px;	
		padding: 0 8px;
		height:auto !important;
		background-color:#388796;
		border-bottom:2px solid #e6e6e6;
		display:inline;			
		border-radius:5px;
	}
		.info-section h2 a{
			font-size:10px;
			font-weight:500;
			text-transform:uppercase;
			color:#ffffff;
			font-family:Verdana, Geneva, sans-serif;		
			display:inline;
			text-decoration:none;
		}
.product-view-section{
	width:100%;
}
	.product-view-section ul{
	list-style:none;	
	}
		.product-view-section ul li{
			margin-right:1px;
			float:left;
			position:relative;
		}
			.product-view-section ul li.active{
				margin:6px 1px 0 0;
				float:left;
			}
			.product-view-section ul li h1{
				font-size:14px;
				font-weight:500;
				font-family:Arial, Helvetica, sans-serif;
			}
			.product-view-section ul li a{
				width:193px;
				line-height:44px;
				display:block;
				text-decoration:none;
				color:#ffffff;
				background-color:#3d8896;
				text-align:center;
				text-transform:uppercase;
			}			
			.product-view-section ul li ul{
				display:none;
			}
			.product-view-section ul li.active ul{
				width:1008px;
				position:absolute;
				display:block;
				left:0;
				background:url(../images/product-view-section-border.png) bottom left repeat-x;
			}	
					.product-view-section ul li.active ul li{
						width:276px;
						height:287px;
						min-height:287px;
						height:auto !important;
						margin:0;
						padding:30px;
						background:url(../images/product-view-section-border.png) top left repeat-x;
					}
						.product-view-section ul li.active ul li h2{
							margin-top:30px;
							line-height:15px;
							font-size:14px;
							font-weight:500;
							font-family:Arial, Helvetica, sans-serif;
							text-transform:uppercase;
						}
						.product-view-section ul li.active ul li p{
							line-height:15px;
							font-size:13px;
							font-weight:500;
							margin: 10px 0 15px 0;
							color:#7f7f7f;
							font-family:Arial, Helvetica, sans-serif;
						}