@charset "utf-8";
/* LFT-Project Reset CSS DOcument */
*{
	margin:0px;
	padding:0px;
}
img{
	border:0px;
}
p,span{
	font-family:Arial, Helvetica, sans-serif;
}
h1,h2,h3{
	font-family:Verdana, Geneva, sans-serif;
}